<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>

            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Wishlist</h3>
                </div>
                <div class="card-body">
                    <app-form-destino-visita (onItemAdded)="agregado($event)"></app-form-destino-visita>
                </div>
            </div>
        </div>
    </div>

<hr	class="mb-5">
<div class="row row-flex">
    <app-destinos-visita 
    *ngFor="let d of all; let i=index" 
    [destino]="d"
    [idx]="i+1"
    (OnClicked)='elegido(d)'
    appEspiame
    ></app-destinos-visita>
 </div>

<hr class="mb-5">
<div class="row row-flex">
    <h5>Actividad!</h5>
    <ul>
        <li *ngFor="let u of updates;">{{ u }}</li>
    </ul>
</div>
</div>


